# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
*.env
# token.pickle
# credentials.json
credentials2.json

# OS / Editor
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
